.about {
  @media (max-width: $mobile-width-max) {
    margin: 40px 0;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    position: relative; // для видео
    width: $tablet-content-width;
    margin: 60px auto 120px;
    text-align: center;
  }

  @media (min-width: $desktop-width-min) {
    display: flex;
    gap: 145px;
    position: relative; // для видео
    width: $desktop-content-width;
    margin: 120px auto 207px;
    text-align: left;
  }
}

.about__main-container {
  margin: 0 auto;

  @media (max-width: $mobile-width-max) {
    width: $mobile-content-width;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    width: 504px;
  }

  @media (min-width: $desktop-width-min) {
    width: 355px;
  }
}

.about__title {
  margin: 0;
  font-family: $secondary-font;
  font-weight: 600;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 12px;

    font-size: 32px;
    line-height: 32px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin-bottom: 20px;

    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $desktop-width-min) {
    margin-bottom: 25px;

    font-size: 54px;
    line-height: 54px;
  }
}

.about__text {
  margin: 0;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 36px;
    font-size: 18px;
    line-height: 20px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin-bottom: 36px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width-min) {
    margin-bottom: 93px;
    font-size: 22px;
    line-height: 22px;
  }
}

.about__description-container {
  margin-bottom: 36px;
}

.about__description-container p {
  margin: 0;
  font-family: $main-font;
  font-weight: 300;

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    width: 504px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width-min) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
  }
}

.about__description-container p:last-child {
  @media (max-width: $mobile-width-max) {
    display: none;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    display: none;
  }
}

.about__image {
  display: block;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 36px;
  }
}

.about__video-container {
  background-image:
    image-set(url("../../img/about/video-preview@1x.webp") type("image/webp") 1x,
    url("../../img/about/video-preview@2x.webp") type("image/webp") 2x,
    url("../../img/about/video-preview@1x.jpg") type("image/jpg") 1x,
    url("../../img/about/video-preview@2x.jpg") type("image/jpg") 2x);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (max-width: $mobile-width-max) {
    position: relative;
    width: 320px;
    height: 170px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(204px) translateY(85px);
    width: 270px;
    height: 170px;
  }

  @media (min-width: $desktop-width-min) {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(400px) translateY(83px);
    width: 360px;
    height: 230px;
  }
}

// фон для видео
.about__video-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $blackout;
  z-index: 1;
}

.about__video {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  border: none;
}

// кнопка play
.about__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  background-image: linear-gradient(to left, $button-gradient-blue, $secondary-red);

  @media (min-width: $desktop-width-min) {
    width: 72px;
    height: 72px;
  }
}

// обводка вокруг кнопки
.about__play::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 72px;
  height: 72px;
  background-color: transparent;
  border: 2px solid $secondary-red;
  border-radius: 50%;
  opacity: 20%;

  @media (min-width: $desktop-width-min) {
    width: 100px;
    height: 100px;
  }
}

// треугольник
.about__play::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-37%, -50%);

  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 9px solid $basic-light;
  border-bottom: 5px solid transparent;
}

// состояния кнопки
.about__play:hover,
.about__play:active,
.about__play:disabled {
  background-image: none;
  background-color: $basic-light;
}

.about__play:hover::before {
  border-left: 10px solid rgba(16, 38, 84, 0.6);
}

.about__play:hover::after {
  border-color: rgba(16, 38, 84, 0.6);
}

.about__play:focus {
  background-image: none;
  background-color: #c8c9cc;
}

.about__play:focus::before,
.about__play:active::before,
.about__play:disabled::before {
  border-left: 10px solid $basic-dark;
}

.about__play:focus::after,
.about__play:active::after,
.about__play:disabled::after {
  border-color: $basic-dark;
}

.about__play:disabled {
  opacity: 40%;
}
