.button {
  display: block;
  padding: 22px;

  font-family: "Roboto Condensed Bold", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.button--primary {
  color: $basic-light;
  background-color: transparent;
  border: 2px solid $basic-light;

  &:hover {
    background-color: $basic-light;
    color: $akcent;
  }

  &:focus {
    background-color: rgba(255, 255, 255, 0.8);
    color: $akcent;
    border: 2px solid #000000;
  }

  &:active {
    background-color: $basic-light;
    color: $basic-dark;
  }

  &:disabled,
  &--disabled {
    opacity: 50%;
  }
}

.button--secondary {
  color: $basic-dark;
  background-color: transparent;
  border: 2px solid $basic-dark;

  &:hover {
    background-image: linear-gradient(to right, #ED0233, #003EB7);
    color: $basic-light;
    border: 2px solid #ED0233;
    border-image: linear-gradient(to right, #ED0233, #003EB7);
    border-image-slice: 1;
  }

  &:focus {
    background-image: linear-gradient(to right, rgba(237, 2, 51, 0.8), rgba(0, 62, 183, 0.8));
    color: $basic-light;
    border: 2px solid #000000;
  }

  &:active {
    background-image: linear-gradient(to right, #ED0233, #003EB7);
    color: rgba(255, 255, 255, 0.8);
    border: 2px solid #ED0233;
    border-image: linear-gradient(to right, #ED0233, #003EB7);
    border-image-slice: 1;
  }

  &:disabled,
  &--disabled {
    opacity: 30%;
  }
}

// кнопка без обрамления
.button-no-borders {
  display: inline-block;
  font-family: $main-font-bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  min-height: 34px;
}

// кнопка без обрамления --primary
.button-no-borders--primary {
  color: $basic-light;

  &:hover {
    opacity: 80%;
  }

  &:focus {
    position: relative;
  }

  &:disabled,
  &--disabled {
    opacity: 50%;
  }
}

.button-no-borders--primary::after {
  content: "";
  display: block;
  margin-top: 5px;
  width: 100%;
  height: 1px;
  background-color: $basic-light;
}

.button-no-borders--primary:focus:after {
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  left: -10px;
  width: calc(100% + 20px);
  height: 100%;
  background-color: transparent;
  border: 1px solid $basic-light;
}


// кнопка без обрамления --secondary
.button-no-borders--secondary {
  color: $secondary-dark;

  &:hover {
    opacity: 80%;
  }

  &:focus {
    position: relative;
  }

  &:disabled,
  &--disabled {
    opacity: 30%;
  }
}

.button-no-borders--secondary::after {
  content: "";
  display: block;
  margin-top: 5px;
  width: 100%;
  height: 1px;
  background-color: $secondary-dark;
}

.button-no-borders--secondary:focus:after {
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  left: -10px;
  width: calc(100% + 20px);
  height: 100%;
  background-color: transparent;
  border: 1px solid $secondary-dark;
}
