.faq {
  background-color: $secondary-light;

  @media (max-width: $mobile-width-max) {
    padding: 70px 0;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    padding: 60px 0;
  }

  @media (min-width: $desktop-width-min) {
    padding: 100px 0;
  }
}

.faq__title {
  margin: 0 auto;
  text-align: center;
  font-family: $secondary-font;
  font-weight: 600;

  @media (max-width: $mobile-width-max) {
    width: $mobile-content-width;
    margin-bottom: 35px;
    font-size: 32px;
    line-height: 32px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    width: $tablet-content-width;
    margin-bottom: 45px;
    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $desktop-width-min) {
    width: $desktop-content-width;
    margin-bottom: 51px;
    font-size: 54px;
    line-height: 54px;
    text-align: start;
  }
}

.faq__tabs {
  margin: 0 auto;

  @media (max-width: $mobile-width-max) {
    width: $mobile-content-width;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    width: $tablet-content-width;
  }

  @media (min-width: $desktop-width-min) {
    width: $desktop-content-width;
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
}

// кнопки
.faq__buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 35px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width-min) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.faq__tab-button {
  border: 1px solid rgba(16, 38, 84, 0.2);
  background-color: transparent;
  color: $basic-dark;

  @media (max-width: $mobile-width-max) {
    width: 140px;
    padding: 14px;
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $tablet-width-min) {
    width: 162px;
    padding: 17px;
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width-min) {
    width: 260px;
  }

  &:hover {
    border: 1px solid $basic-dark;
    background-color: transparent;
  }

  &:focus {
    border: 1px solid $basic-dark;
    background-color: $basic-light;
  }

  &:disabled {
    color: #c8c9cc;
  }
}

.faq__tab-button--active {
  border-width: 1px;
  border-image: linear-gradient(to right, $secondary-red, $button-gradient-blue);
  border-image-slice: 1;
  background-image: linear-gradient(to right, $secondary-red, $button-gradient-blue);
  color: $basic-light;
}

// вопросы и ответы
.faq__tab-content {
  @media (min-width: $desktop-width-min) {
    width: 860px;
    margin-top: -1px;
  }
}

.faq__tab-pane {
  display: none;
}

.faq__tab-pane--active {
  display: block;
}

.faq__tab-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mobile-width-max) {
    margin: 21px 0;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin: 23px 0;
  }

  @media (min-width: $desktop-width-min) {
    margin: 23px 0;
  }

  h3 {
    margin: 0;
    font-weight: 400;

    @media (max-width: $mobile-width-max) {
      width: 235px;
      margin-bottom: 19px;
      font-size: 20px;
      line-height: 20px;
    }

    @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
      display: inline-block;
      width: 500px;
      font-size: 22px;
      line-height: 22px;
    }

    @media (min-width: $desktop-width-min) {
      display: inline-block;
      width: 660px;
      font-size: 24px;
      line-height: 24px;
    }
  }

  p {
    display: none;
  }
}

.faq__tab-item:first-child {
  margin-top: 0;
}

.faq__tab-item:last-child {
  margin-bottom: 0;
}

// состояние открытого ответа на вопрос
.faq__tab-item--active {
  h3 {
    @media (max-width: $mobile-width-max) {
      margin-bottom: 20px;
    }
  }

  p {
    display: block;
    margin: 0;
    font-family: $main-font;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;

    @media (max-width: $mobile-width-max) {
      margin-bottom: 20px;
      padding-right: 52px;
    }

    @media (min-width: $tablet-width-min) {
      margin-top: 10px;
      padding-right: 118px;
      font-size: 18px;
      line-height: 24px;
    }

    @media (min-width: $desktop-width-min) {
      padding-right: 200px;
      margin-top: 23px;
    }
  }

  .faq__open-button {
    background-color: $secondary-dark;
  }

  .faq__open-button::after {
    mask-image: url("/__spritemap#sprite-minus-view");
    background-color: $basic-light;
  }
}

// полоски над и под вопросом
.faq__tab-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #74819c;

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin-top: 23px;
  }

  @media (min-width: $desktop-width-min) {
    margin-top: 22px;
  }
}

.faq__tab-item:first-child::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #74819c;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 21px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width-min) {
    margin-bottom: 22px;
  }
}

// кнопка открытия/ закрытия ответа на вопрос
.faq__open-button {
  position: relative;
  border: 1px solid $secondary-dark;
  border-radius: 50%;
  background-color: transparent;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 20px;
    padding: 8px;
    width: 30px;
    height: 30px;
    mask-size: 14px 14px;
  }

  @media (min-width: $tablet-width-min) {
    width: 40px;
    height: 40px;
    background-size: 20px 20px;
  }

  &:hover {
    background-color: $secondary-dark;
  }

  &:focus {
    background-color: #74819c;
    border-color: $secondary-dark;
  }

  &:disabled {
    opacity: 30%;
  }
}

.faq__open-button::after {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mask-image: url("/__spritemap#sprite-plus-view");
  background-color: $secondary-dark;
  mask-repeat: no-repeat;
  mask-position: center;

  @media (min-width: $tablet-width-min) {
    width: 20px;
    height: 20px;
  }
}

.faq__open-button:focus::after,
.faq__open-button:hover::after {
  background-color: $basic-light;
}
