.footer {
  background-color: $footer-background;
  color: $basic-light;
  padding: 40px 0;

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    padding: 45px 0;
  }
}

.footer__main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;

  @media (max-width: $mobile-width-max) {
    gap: 30px;
    width: $mobile-content-width;
    align-items: flex-start;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    width: $tablet-content-width;
  }

  @media (min-width: $desktop-width-min) {
    width: $desktop-content-width;
  }
}

.footer__logo-icon {
}

.footer__services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $mobile-width-max) {
    width: 100%;
    gap: 17px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    justify-content: space-between;
    width: 391px;
    gap: 30px;
  }

  @media (min-width: $desktop-width-min) {
    justify-content: space-between;
    width: 600px;
    gap: 82px;
  }
}

.footer__services-item {
  @media (max-width: $mobile-width-max) {
    margin-right: 19px;
  }
}

.footer__services-item-link {
  position: relative;
  text-decoration: none;
  color: $basic-light;
  font-family: $main-font-regular;
}

.footer__services-item-link:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: $basic-light;
  margin-top: 5px;
}

.footer__services-item-link:focus::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  right: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 10px);
  border: 1px solid $basic-light;
  padding: 5px 10px;
}

.footer__services-item-link--disabled {
  opacity: 40%;
}

.footer__social-list {
  @media (max-width: $mobile-width-max) {
    width: 100%;
  }
}
