.registration {
  @media (min-width: $desktop-width-min) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

// Форма
.registration__form-container {
  background-color: $basic-dark;
  color: $basic-light;

  @media (max-width: $mobile-width-max) {
    padding: 70px 0;
  }

  @media (min-width: $tablet-width-min) {
    padding: 60px 0;
  }

  @media (min-width: $desktop-width-min) {
    min-height: 338px;
    width: 683px;
  }
}

.registration__form {
  margin: 0 auto;

  @media (max-width: $mobile-width-max) {
    width: $mobile-content-width;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    width: 440px;
  }

  @media (min-width: $desktop-width-min) {
    width: 477px;
  }
}

.registration__title {
  margin: 0;
  font-family: $secondary-font;
  font-weight: 600;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 36px;
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $tablet-width-min) {
    margin-bottom: 35px;
    font-size: 54px;
    line-height: 54px;
    text-align: center;
  }

  @media (min-width: $desktop-width-min) {
    text-align: start;
  }
}

.registration__inputs-container {
  @media (min-width: $tablet-width-min) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.registration__input {
  display: block;
  width: 100%;
  padding: 0;
  padding-bottom: 4px;
  margin-bottom: 36px;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #74819c;
  color: $basic-light;
  font-family: $main-font;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;

  @media (min-width: $tablet-width-min) {
    width: 205px;
  }

  @media (min-width: $desktop-width-min) {
    width: 223px;
  }
}

.registration__label {
  display: none;
}

.registration__form-send {
  width: 100%;
  margin-bottom: 10px;

  @media (min-width: $tablet-width-min) {
    padding: 25px;
  }
}

.registration__form-send:last-child {
  margin-bottom: 0;
}

// Контакты
.registration__contacts {
  @media (max-width: $mobile-width-max) {
    width: $mobile-content-width;
  }

  @media ((min-width: $tablet-width-min)  and (max-width: $tablet-width-max)) {
    width: 440px;
  }

  @media (min-width: $desktop-width-min) {
    width: 683px;
    min-height: 218px;
  }
}
