.social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $mobile-width-max) {
    gap: 20px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    gap: 15px;
  }

  @media (min-width: $desktop-width-min) {
    gap: 10px;
  }
}

.social-list__item {
  width: 25px;
  height: 25px;
  background-color: $basic-light;
  border-radius: 50%;
  cursor: pointer;
}

.social-list__item:hover {
  background-color: #74819c;
}

.social-list__item:hover > .social-list__link,
.social-list__item:focus > .social-list__link,
.social-list__item:active > .social-list__link {
  background-color: $basic-light;
}

.social-list__item:focus {
  background-color: #103aae;
}

.social-list__item:active {
  background-color: $basic-dark;
}

.social-list__item--disabled {
  opacity: 30%;
}

.social-list__link {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $footer-background;
  mask-position: center;
  mask-repeat: no-repeat;
}

.social-list__link:hover,
.social-list__link:focus,
.social-list__link:active {
  background-color: $basic-light;
}

.social-list__link:disabled {
  opacity: 30%;
}

.social-list__link--vk {
  mask-image: url("/__spritemap#sprite-vk-icon-view");
  mask-size: 12px 7px;
}

.social-list__link--ok {
  mask-image: url("/__spritemap#sprite-ok-icon-view");
  mask-size: 9px 16px;
}

.social-list__link--reddit {
  mask-image: url("/__spritemap#sprite-reddit-icon-view");
  mask-size: 14px 14px;
}
