/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #102654;
  background-color: #FFFFFF;
}

picture,
source {
  display: contents;
}
